<%= form_for @article do |c| %>

  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <%= c.label :title %>
  <br>
  <%= c.text_field :title %>
  <br>

  <%= c.label :body %>
  <br>
  <%= c.text_field :body %>
  <br>

  <%= c.submit %>

<% end %>